*,
*:after,
*:before {
    padding: 0;
    margin: 0;

}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.button-result {
    position: relative;
    width: 200px;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button-result:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.button-result .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
    /*display: none;*/
}

.button-result .dropdown li {
    padding: 0 0px ;
    margin-bottom: 5px !important;
}

.button-result .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    /*padding: 10px 0;*/
    transition: all 0.2s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.button-result .dropdown li:last-of-type a {
    border: none;
}

.button-result .dropdown li i {
    /*margin-right: 5px;*/
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.button-result .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.button-result.active {
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    border-bottom: none;
}


.button-result.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
.dropdownLi
{
    margin-bottom: 5px !important;
}